@font-face{
    font-family : 'THEjunggt130';
    src : local('THEjunggt130'),
        url('../../../font/THEjunggt130.woff2') format('woff2'),
        url('../../../font/THEjunggt130.woff') format('woff'),
        url('../../../font/THEjunggt130.otf') format('opentype'),
        url('../../../font/THEjunggt130.eot') format('embedded-opentype');
}

@font-face{
    font-family : '서울남산 장체EB';
    src : local('서울남산 장체EB'),
        url('../../../font/서울남산 장체EB.woff2') format('woff2'),
        url('../../../font/서울남산 장체EB.woff') format('woff'),
        url('../../../font/서울남산 장체EB.otf') format('truetype'),        
        url('../../../font/서울남산 장체EB.eot') format('embedded-opentype');
}

* {
    font-family: 'THEjunggt130';
}

* {
    margin: 0;
    padding: 0;        
}
header{
    height: 60px;
    width: 1920px; 
    background: #402F61; 
    color: #ffffff;
    margin: auto;
    /*텍스트 세로 중앙정렬*/
    line-height: 60px;    
    box-sizing: border-box;
}

body{
	    background: #dfdfdf;
}

header h1{
    padding-left: 40px;
}

aside{
    height: 1502px;
    width: 208px;
    float: left;
    text-align: center;
    line-height: 80px;
    background: #5C5173;
}

main{
    width: 1920px;
    height: 1510px;
    margin: 0 auto;
}

.wrap {
    width: 1712px;
    height: 1502px;
    float: right;    
}
/* 회원관리 타이틀 파트*/
.member_management {
    width: 1645px;
    height: 60px;
    background: #ffffff;
    margin: 16px 40px 14px 27px;    
}
.member_management span{
    line-height: 60px; 
    margin: 16px 0px 18px 26px;
    font-size: 22px;
}

/* 텍스트 area 파트*/
.detail_text_area {
	width: 1645px;
	height: 846px;
	background-color: #FFFFFF;
	margin: 14px 40px 16px 27px;
	text-align: center;
}

.detail_text_area p{
	text-align: left;
	padding-top: 20px;
	margin-left: 38px;
	font-size: 15px;
}

#border_item{
	margin: 0 auto;
	margin-top: 15px;
	border-top: 1px solid #707070;
	width: 1592px;
}

#txtContent{
	resize: none;
	margin: 20px 0px 20px;
	width: 1569px;
	height: 751px;
}

.submit_or_back_btn{
	text-align: center;
}

#submit_btn{
	margin-right: 91px;
}