<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.macat.service.MbersDTO" alias="MbersDTO"/>
		<typeAlias type="com.macat.service.MbersSearchDTO" alias="MbersSearchDTO"/>
		<typeAlias type="com.macat.service.NotsDTO" alias="NotsDTO"/>
		<typeAlias type="com.macat.service.NotsSearchDTO" alias="NotsSearchDTO"/>
		<typeAlias type="com.macat.service.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.macat.service.QnaSearchDTO" alias="QnaSearchDTO"/>
		<typeAlias type="com.macat.service.FaqDTO" alias="FaqDTO"/>
		<typeAlias type="com.macat.service.FaqSearchDTO" alias="FaqSearchDTO"/>
		<typeAlias type="com.macat.service.CtgriesDTO" alias="CtgriesDTO"/>
		<typeAlias type="com.macat.service.ProductsDTO" alias="ProductsDTO"/>
		<typeAlias type="com.macat.service.ImagesDTO" alias="ImagesDTO"/>
		<typeAlias type="com.macat.service.QnaCtgriesDTO" alias="QnaCtgriesDTO"/>
		<typeAlias type="com.macat.service.MberGradDTO" alias="MberGradDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/mapper.xml" />
	</mappers>
</configuration>
