<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.macat.service.MbersVO" alias="MbersVO"/>
		<typeAlias type="com.macat.service.MbersSearchVO" alias="MbersSearchVO"/>
		<typeAlias type="com.macat.service.NotsVO" alias="NotsVO"/>
		<typeAlias type="com.macat.service.NotsSearchVO" alias="NotsSearchVO"/>
		<typeAlias type="com.macat.service.QnaVO" alias="QnaVO"/>
		<typeAlias type="com.macat.service.QnaSearchVO" alias="QnaSearchVO"/>
		<typeAlias type="com.macat.service.FaqVO" alias="FaqVO"/>
		<typeAlias type="com.macat.service.FaqSearchVO" alias="FaqSearchVO"/>
		<typeAlias type="com.macat.service.CtgriesVO" alias="CtgriesVO"/>
		<typeAlias type="com.macat.service.ProductsVO" alias="ProductsVO"/>
		<typeAlias type="com.macat.service.ImagesVO" alias="ImagesVO"/>
		<typeAlias type="com.macat.service.QnaCtgriesVO" alias="QnaCtgriesVO"/>
		<typeAlias type="com.macat.service.MberGradVO" alias="MberGradVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappings/mapper.xml" />
	</mappers>
</configuration>
