
@font-face{
    font-family : 'THEjunggt120';
    src : local('THEjunggt120'),
        url('/resources/font/THEjunggt120.woff2') format('woff2'),
        url('/resources/font/THEjunggt120.woff') format('woff'),
        url('/resources/font/THEjunggt120.otf') format('opentype'),
        url('/resources/font/THEjunggt120.eot') format('embedded-opentype');
}

.floating_remoteCon {
    /*메뉴 위치*/
    position: fixed;
    right: 50%;
    top: 210px;
    margin-right: -625px;
    text-align: center;
    width: 105px;
    height: 280px;
    border:2px solid #F25E5E; 
    font-family: 'THEjunggt120';
    font-size: 15px;
}

.floating_remoteCon div{
    margin-top: 5px;
}

/*최근 본 상품 div 구분하기*/
.floating_remoteCon div:nth-child(1) {
    /*타이틀부분*/
    background: #F25E5E;
    color: #fff;
    margin: 0;
    padding: 0;    
}

.floating_remoteCon div:nth-child(2){
    border-radius: 5px;
    height: 75px;
    margin: 5px;
}
.floating_remoteCon div:nth-child(3){
    border-radius: 5px;
    height: 75px;
    margin: 5px;
}
.floating_remoteCon div:nth-child(4){
    border-radius: 5px;
    height: 75px;
    margin: 5px;
}
