@charset "utf-8";
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@font-face {
	font-family: 'THEjunggt130';
	src: local('THEjunggt130'),
		url('../font/THEjunggt130.woff2') format('woff2'),
		url('../font/THEjunggt130.woff') format('woff'),
		url('../font/THEjunggt130.otf') format('opentype');
}			
@font-face {
	font-family: '서울남산 장체EB';
	src: local('서울남산 장체EB'),
		url('../font/서울남산 장체EB.woff2') format('woff2'),
		url('../font/서울남산 장체EB.woff') format('woff'),
		url('../font/서울남산 장체EB.ttf') format('truetype');
}

/*reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style-type: none;}
hr {display: none;}
h1 {margin: 0;}
a {text-decoration: none;}
button {border: none; background: none; text-indent: -9999px;}
img {border: none;}
html {font-size: 0.625em;/*10px,pxtoem.com*/}
body {font-family: "서울남산 장체EB", sans-serif; line-height: 1;}
.blind {position: absolute; top: -9999px; left: -9999px;}
.clear:after {content: ""; display: block; clear: both;}
.pc {display: none;}

/* header */
/* 헤더가 항상 최상위에 오도록 z-index : 9999; 변경 */
.menu {
    position: fixed; 
    z-index: 9999;
    display: block;
    width: 100%;
    height: 130px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.navWrap {
    position: fixed; top: 0; left: 0;
    z-index: 1; background: #fff; width: 100%; height: 130px;
    border-bottom: 1px solid #5c5173;
}
.navWrap > .line span {
    position: fixed; 
    width: 100%; top: 78px;
    border-top: 3px solid #f25e5e;
}
/*header macat logo*/
h1 {
    position: absolute;  width: 100px; left:50%; margin-left: -50px; top:21px;
}

h1 img {
    width: 100%;
}

.navBtn {
    position: absolute; z-index: 1;
    width: 25px; height: 21px;
    top: 95px; left: 10.667%;
}
.navBtn.on {
    top:30px;
}
.navBtn span {
    display: block;
    position: absolute; width: 25px;
    height: 3px; border-radius: 5px;
    background: #f25e5e;
    transition: .5s;
}
.navBtn span:nth-child(1) {
    transform: translateY(-8px);
}
.navBtn span:nth-child(3) {
    transform: translateY(8px);
}
.navBtn.on span:nth-child(1) {
    transform: rotate(-45deg);
}
.navBtn.on span:nth-child(3) {
    transform: rotate(45deg);
}
.navBtn.on span:nth-child(2) {
    opacity: 0;
}
.navBtn.on {
    position: fixed; right:0;
}
header nav {
    display: none;
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
}
.navInner {
    overflow: auto;
    position: absolute; top: 78px; right: 0;
    width: 100%; height: 100%;
    background: #fff;
}
.navInner .left {
    display: none;
    width: 83.071%; margin: 0 0 24px 7.087%;
}
.navInner ul {
    width: 83.071%; margin-left: 7.087%; border-top: 2px solid #f2a766;
}
.navInner ul > li > a {
    display : block; position : relative;
    height: 60px; padding-left: 4.502%; border-bottom: 1px solid #f2a766;
    color : #343434; font-size : 1.7rem; line-height: 60px;
}
.navInner ul > li:last-child > a {
    border-bottom: none;
}
.navInner ul > li:last-child.open > a {
    border-bottom: 1px solid #f2a766;
}
.navInner ul > li.open +li > a {
    border-top: 1px solid #f2a766;
}
.navInner ul > li > a span {
    position: absolute; right: 2.844%; top: 50%;
    width: 15px; height: 8px; margin-top: -4px;
    background: url(../img/mcat-arrow-nav-bottom.png) no-repeat; background-size: contain;
}
.navInner ul > li.open > a span {
    background-image: url(../img/mcat-arrow-nav-top.png);
}
.navInner .wrap {
    display: none;
}
.navInner .open .wrap {
    display: block;
}
.navInner ol {
    background: #f8f8f8;
}
.navInner ol li {
    width: 89.573%; margin-left: 4.502%; border-bottom: 1px solid #cfcfcf;
}
.navInner ol:last-child li:last-child {
    border-bottom: none;
}
.navInner ol a {
    display: block;
    height: 48px; padding-left: 11.22%;
    font-size: 1.7rem; color: #343434; line-height: 48px;
}
/*mobile nav end*/


.searchWrap form > button {
    position: absolute; top: 95px; left: 34.667%;
    width: 25px; height: 25px;
    background: url(../img/mcat-icon-search1.png) no-repeat; background-size: contain;
}

.searchOn {
	background: #fff;
    left: 0px; top: 79px; width: 100%; height: 55px; text-align: center;
    display: none; 
    position: absolute; z-index: 1;
    border-bottom: 1px solid #f25e5e;
}
.searchOn .close {
	color: #f2a766;
    font-size: 1.7rem; font-weight: bold; vertical-align: middle;
}
.searchOn input {
	background: #fff; margin: 11px 2.26%; padding: 8px; border-radius: 3px; border: currentColor; border: 2px solid #f25e5e; width: 66.66%; height: 32px; color: #000; font-size: 1.6rem; vertical-align: middle;
}
.searchOn button {
	background: url("../img/mcat-icon-search1.png") no-repeat center; background-size: 25px; width: 25px; height: 25px;
}
.membersBtn {
    position: absolute; top: 95px; right: 34.667%;
    width: 25px; height: 25px;
    background: url(../img/mcat-icon-myinfo.png) no-repeat; background-size: contain;
}
.basketBtn {
    position: absolute; top: 93px; right: 10.667%;
    width: 27px; height: 27px;
    background: url(../img/mcat-icon-shopping-cart-color.png) no-repeat; background-size: contain;
}
/*header end*/




/*gte 768*/
@media screen and (min-width:768px) {
    /*  header  */
    .navWrap {
        height: 175px;
    }
    .navWrap > .line span {
        top:105px;
    }
    h1 {
        width: 200px; margin-left: -100px;
    }
    .navBtn {
        top: 128px;
    }
    .navBtn span {
         height: 3px; width: 32px;
    }
    .navBtn span:nth-child(1) {
    transform: translateY(-11px);
    }
    .navBtn span:nth-child(3) {
        transform: translateY(11px);
    }
    .searchWrap form > button {
        top: 123px; width: 35px; height: 35px;
    }
    .searchOn {
        top: 118px; height: 60px;
    }
    .searchOn .close {
        font-size: 2.2rem;
    }
    .searchOn input {
	   margin: 2px 2.26%; border-radius: 5px; height: 45px; font-size: 2.2rem;
    }
    .searchOn button {
        background-size: 35px; width: 35px; height: 35px;
    }
    .membersBtn {
        top: 123px; width: 35px; height: 35px;
    }
    .basketBtn {
        top: 122px; width: 37px; height: 37px;
    }
    header nav {
        top:27px;
    }
    .navBtn.on {
        top:45px;
    }
    .navInner ul > li > a {
        height: 91px; padding-left: 4.739%;
        font-size: 2.5rem; line-height: 91px;
    }
    .navInner ul > li > a span {
        right: 5.213%;
        width: 30px; height: 15px; margin-top: -10px;
    }
    .navInner ol li {
        margin-left: 4.976%;
    }
    .navInner ol a {
        height: 65px; padding-left: 5.556%;
        font-size: 2.1rem; line-height: 66px;
    }
}
/*768 media screen end*/


@media screen and (min-width:1024px) {
    /*  reset  */
    .pc {
        display: block;
    }
    .mobile {
        display: none;
    }
    
    /*  header  */
    .searchWrap form > button {
        left: auto; right: 24%;
    }
    .searchOn input {
        width: 890px;
    }
    .searchWrap .pc {
        float: right;
        margin-top: 22px; margin-right: 10.667%;
    }
    .searchWrap .pc a {
        font-size: 1.4rem;
        color: #808080;
    }
    .searchWrap .pc a:before {
        content: "|";
        padding: 0 15px;
    }
    .searchWrap .pc a:first-child {
        color: #f25e5e;
    }
    .searchWrap .pc a:first-child:before {
        content: none;
    }
    .membersBtn {
        right: 17.333%;
    }
    header nav {
        display: block;
        position: relative;
        height: auto; top: 111px;
    }
    .navInner {
        position: static; overflow: visible; width: 88.281%; 
        margin: 0 auto; padding-top: 0; background: none;
    }
    .navInner ul {
        float: left;
        width: auto; margin-left: 0;
        border-top: none;
    }
    .navInner ul > li {
        float: left;
    }
    .navInner ul > li:before {
        content: "|";
        margin: 0 21px;
        color: #000; font-size: 1.6rem
    }
    .navInner ul > li:first-child:before {
        content: normal;
    }
    .navInner ul > li > a {
        display: inline-block;
        height: 60px; padding-left: 0; border-bottom: none; color: #343434; font-size: 1.6rem; line-height: 60px; font-weight: bold;
    }
    header.on .navInner ul > li > a {
        height: 60px;
        font-size: 1.5rem; line-height: 60px;
    }
    .navInner ul > li > a:hover, .navInner ul > li > a:focus, .navInner ul > li.open > a {
        color: #f25e5e;
    }
    .navInner ul > li > a span {
        display: none;
    }
    .navInner ul > li:last-child.open > a {
        border-bottom: none;
    }
    .navInner ul > li.open + li > a {
        border-top: none;
    }
    .navInner .open .wrap {
        position: absolute;
        top: 64px; left: 0;
        width: 100%; border-top: 1px solid #f2a766; background: #fff;
    }
    header.on .navInner .open .wrap {
        top: 50px;
    }
    .navInner .wrapInner {
        width: 88.281%; margin: o auto;
    }
    .navInner .wrapNav {
        height: 240px; padding: 0;
    }
    .navInner .right {
        float: right;
        width: 51.991%; height: 100%; padding-top: 31px;
    }
    .navInner ol {
        float: left;
        width: 50%;
        background: none;
    }
    .navInner li:nth-child(1) ol {
        width: 33.333%;
    }
    .navInner ol li {
        width: auto; margin-left: 0; border-bottom: none;
    }
    .navInner ol a {
        height: auto; padding-left: 0;
        color: #000; font-size: 2rem; line-height: 3;
    }
    .navInner ol a:hover, navInner ol a:focus {
        color: #f25e5e;
    }
    .navInner .left {
        display: block;
        float: left;
        width: 38.009%; height: 100%; padding: 43px 0 0 0px;
    }
    .navInner .left ol li a {
        font-size: 4.8rem; line-height: 1.3;
    }
    .navInner .left ol li:first-child a {
        color: #f25e5e;
    }
    .navInner .left ol li:last-child a {
        color: #5c5173;
    }
}
/* media screen 1024px end*/

