@font-face {
    font-family: 'THEjunggt130';
    src: local('THEjunggt130'),
        url('../font/THEjunggt130.woff2') format('woff2'),
        url('../font/THEjunggt130.woff') format('woff'),
        url('../font/THEjunggt130.otf') format('opentype'),
        url('../font/THEjunggt130.eot') format('embedded-opentype');
}

@font-face {
    font-family: '서울남산 장체EB';
    src: local('서울남산 장체EB'),
        url('../font/서울남산 장체EB.woff2') format('woff2'),
        url('../font/서울남산 장체EB.woff') format('woff'),
        url('../font/서울남산 장체EB.otf') format('truetype'),
        url('../font/서울남산 장체EB.eot') format('embedded-opentype');
}

* {
    font-family: 'THEjunggt130';
}

.remoteCon_name {
    line-height: 29px;
    font-family: '서울남산 장체EB';
}

.floating_remoteCon img {
    padding: 10px 5px 0 5px;
    width: 80px;
    height: 65px;
}

.img_ratio_container {
    display: flex;
    align-items: center;    
    height: 200px;    
}

.floating_remoteCon {
    /*메뉴 위치*/
    text-align: center;
    width: 105px;
    height: 280px;
    
    background-color:#f9f9f9; 
    border:2px solid #F25E5E; 
    
    font-size: 15px;       
}

.floating_remoteCon div{
    margin-top: 5px;
}

/*최근 본 상품 div 구분하기*/
.floating_remoteCon div:nth-child(1) {
    /*타이틀부분*/
    background: #F25E5E;
    color: #fff;
    margin: 0;
    padding: 0;    
}

.floating_remoteCon div:nth-child(2){
    border-radius: 5px;
    height: 75px;
    border: 1px solid #f27e63;
    margin: 5px;
}
.floating_remoteCon div:nth-child(3){
    border-radius: 5px;
    height: 75px;
    border: 1px solid #f27e63;
    margin: 5px;
}
.floating_remoteCon div:nth-child(4){
    border-radius: 5px;
    height: 75px;
    border: 1px solid #f2a766;
    margin: 5px;
}
/*

.remoteCon_name {
    line-height: 29px;
}

.floating_remoteCon img {
    padding: 10px 5px 0 5px;
    width: 80px;
    height: 65px;
}*/
