/*상단 고정헤더*/
header {
    text-align: center;
    background-color: #f25e5e;
    height: 162px;
    font-size: 20px;
    border-bottom: 1px solid black;

    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav_block {
    display: inline-block;   
    width: 1040px;
    background: #fff;
}

.nav_bar {
    display: inline-block;
    background: #fff;
    list-style: none;
    width: 100%;
    font-size: 0px;
    float: left;
    border-bottom: 2px solid #cfcfcf;
}

.nav_bar li a:hover {
    background: #F25E5E;
}

.nav_bar li {
    display: inline-block;
}

.nav_bar li a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: black;
}

/* 장바구니, 마이페이지, 검색 위치조절*/
#icon {
    float: right;
    padding: 9px 20px;
    cursor: pointer;
    /*오른쪽부터 배열하기 때문에 3번째 위치한 아이콘이 왼쪽부터 정렬됨*/
}

#icon a:hover{
    background: none;
}

#icon a{
    padding: 0;
    margin: 0 auto;;
}

/* 아이콘 사이즈 조정*/
#icon a img {
    width: 30px;
    height: 30px;
}
