/*주소지 탭메*/
/*탭메뉴*/
#item_tab{
    width:690px;
    margin:0 auto;
    text-align:center;    
    border-top: 4px solid #5C5173;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #5c5173;
}
/*탭메뉴 제목*/
.tab-titles{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;    
    width: 690px;
}

/* Float the list items side by side */
.tab-titles li {
    float: left;
    line-height: 42px;
    height: 42px;
    width: 145px;
    border-right: 1px solid #5c5173;
}

/* Style the links inside the list items */
.tab-titles li a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
/* Style the tab content */
.tabcontent {
    border-top: 1px solid #5c5173;
    display: none;
    background-color:#ffffff;
    margin: 0 auto;
}
/*클릭 시 current가 붙을 때*/
.tab-titles li.current, ul.tab-titles li.current > a{
    background: #5c5173;
    color: #ffffff;
}

.tabcontent.current {
    display: block;
}
/*주소지 탭 끝*/

/*결제수단 탭 */
/*탭메뉴*/
#payment_tab{
    width:690px;
    margin:0 auto;
    text-align:center;    
    border-top: 4px solid #5C5173;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
/*탭메뉴 제목*/
.payment_tab-titles{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;    
    width: 690px;
}

/* Float the list items side by side */
.payment_tab-titles li {
    float: left;
    line-height: 42px;
    height: 42px;
    width: 25%;
    border-right: 1px solid #5c5173;
}

/* Style the links inside the list items */
.payment_tab-titles li a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
/* Style the tab content */
.payment_tabcontent {
    border-top: 1px solid #5c5173;
    display: none;
    background-color:#ffffff;
    margin: 0 auto;
}
/*클릭 시 current가 붙을 때*/
.payment_tab-titles li.current, ul.payment_tab-titles li.current > a{
    background: #5c5173;
    color: #ffffff;
}

.payment_tabcontent.current {
    display: block;
}
