@charset "utf-8";

@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

@font-face {
	font-family: 'THEjunggt130';
	src: local('THEjunggt130'),
		url('../font/THEjunggt130.woff2') format('woff2'),
		url('../font/THEjunggt130.woff') format('woff'),
		url('../font/THEjunggt130.otf') format('opentype');
}			

@font-face {
    font-family: '서울남산 장체EB';
    src: local('서울남산 장체EB'),
        url('../font/서울남산 장체EB.woff2') format('woff2'),
        url('../font/서울남산 장체EB.woff') format('woff'),
		url('../font/서울남산 장체EB.ttf') format('truetype');
}

/*reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style-type: none;}
hr {display: none;}
h1 {margin: 0;}
a {text-decoration: none;}
button {border: none; background: none; text-indent: -9999px;}
img {border: none;}
html {font-size: 0.625em;/*10px,pxtoem.com*/}
body {font-family: "THEjunggt130", sans-serif; line-height: 1;}
.blind {position: absolute; top: -9999px; left: -9999px;}
.clear:after {content: ""; display: block; clear: both;}
.pc {display: none;}


/* header : css 미적용 상태*/
.navWrap {
    position: fixed; top: 0; left: 0;
    z-index: 1; background: #fff; width: 100%; height: 130px;
    border-bottom: 1px solid #5c5173;
}
/*메뉴 선 그리기*/
.navWrap > .line span {
    position: fixed; 
    width: 100%; top: 78px;
    border-top: 3px solid #f25e5e;
}
/*header macat logo*/
/*img 감싸는 h1 크기, 위치 지정*/
h1 {
    position: absolute;  width: 100px; left:50%; margin-left: -50px; top:21px;
}
/*헤더 중앙 메인로고 img 크기 조정*/
h1 img {
    width: 100%;
}

/* footer */
footer {
    background: #f25e5e; bottom: 0; width: 100%;
}

footer a {
    color: #fff; font-style: normal;
}

.copy {
    width: 100%;
    text-align: left;
}


.copy img {
    margin:20px 10% 20px ;
    width: 80px;
}

.copy p {
    color: #fff; font-size: 1.3rem; font-style: normal; line-height: 1.455;
    margin-left: 10%;
}

.copy p i {
    font-style: normal;
}

footer small {
	display: block; text-align: center;
	height: 45px; margin-top: 27px;
	background: #5c5173;
	color: #fff; font-size: 1.1rem; line-height: 45px;
}

/*gte 768*/
@media screen and (min-width:768px) {      
    .navWrap {
        height: 175px;
    }
    .navWrap > .line span {
        top:105px;
    }
    
    h1 {
        width: 200px; margin-left: -100px;
    }

    /* footer */    
    .copy p {
        float: left; margin: 29px 25px;
    }
    .copy img {
        float: left; width: 170px; margin-left: 5%;
    }
    small {
        clear: both;
    }
}
/*768 end*/

@media screen and (min-width:1030px) {    
    .pc {
    display: block;
    }    
    .mobile {
        display: none;
    }
    .copy img {
    float: left; width: 170px; margin-left: 25%;
    }
/* media screen 1024px end*/
}