@charset "utf-8";

@font-face{
    font-family : 'THEjunggt130';
    src : local('THEjunggt130'),
        url('../font/THEjunggt130.woff2') format('woff2'),
        url('../font/THEjunggt130.woff') format('woff'),
        url('../font/THEjunggt130.otf') format('opentype'),
        url('../font/THEjunggt130.eot') format('embedded-opentype');
}


@font-face{
    font-family : '서울남산 장체EB';
    src : local('서울남산 장체EB'),
        url('../font/서울남산 장체EB.woff2') format('woff2'),
        url('../font/서울남산 장체EB.woff') format('woff'),
        url('../font/서울남산 장체EB.otf') format('truetype'),        
        url('../font/서울남산 장체EB.eot') format('embedded-opentype');
}

* {
    font-family: 'THEjunggt130';
	list-style: none;
}

caption{
	display: none;
}

legend{
	display: none;
}

colgroup{
	display: table-column-group;
}

div fieldset{
	border-style: none;
}

thead{
	display: table-header-group;
	vertical-align: middle;
}

#wrap {
    width: 1024px;
    min-width: 960px;
    height: auto;
    /*요소 중앙정렬*/
    margin: 0 auto;      
    text-align: center;
}

.contents {
	width: 1024px;
}


.board_title{
	height: 71px;
}

#path{
	text-align: right;
	margin-top: 2px;
	height: 30px;
}

#path ol{
	list-style-type: none;
}

#path ol > li{
	display: inline;
	font-size: 12px;
}

#title{
	min-height: 30px;
	margin: 10px 0 20px;
    border-bottom: 2px solid #F25E5E;
	text-align: left;
}

h2{
	font-size: 17px;
}


.board_list{
	margin-top: 30px;
}

.board_list_main{
	width: 1024px;
	border-bottom: 2px solid #F25E5E;
}

.board_list_main thead tr{
	border-bottom: 2px solid #CFCFCF;
}

.board_list_main thead tr th{
	padding: 9px 0px 7px;
}

.board_list_main #main_list tr{
	height: 32px;
}

.board_list_main #main_list tr td{
	padding: 11px 0px 10px;
	font-size: 11px;
}

.board_list_main #main_list tr td:nth-child(3){
	padding-left: 10px;
	text-align: left;
	font-size: 12px;
}

#main_list_none{
	display: none;
}

form{
	text-align: center;
}

fieldset{
	font-size: 14px;
}

fieldset a img{
	position: relative;
	top: 8px;
	width: 59px;
	height: 24px;
}

#search_date{
	margin: 0px 2px 0px 22px;
	width: 72px;
	height: 24px;
}

#search_key{
	width: 72px;
	height: 24px;
}

#search_text_box{
	height: 17px;
    font-size: 12px;
    padding: 3px 4px;
	border: 1px solid rgb(213, 213, 213);
}
