body{
    background-color: #f0f0f0;
}

body, div, h2{
    margin: 0;
    padding: 0;    
}

header, section, div{
    display: block;
}

a{
    text-decoration: none;
}

a, span, select{
    margin: 0;
    padding: 0;
    color: #111;
}

em{
    font-style: normal;
    font-weight: normal;
}

body, input, textarea, select, button, table{
    font-family: '돋움', Dotum, sans-serif;
    font-size: 100%;
}

label{
    cursor: default;
}

#warp{
    position: relative;
    clear: both;
    width: 100%;
    height: 100%;
}

header{
    position: relative;
    width: 980px;
    height: 70px;
    border-bottom: 2px solid #8a8a8a;
    margin: 0 auto -1px;
    border: 1px solid black;
}

/*로고*/
.logo{
    float: left;
    padding: 10px 10px 10px 10px;
}

.logo a{
    display: block;
    width: 140px;
    height: 37px;    
    text-indent: -100em;
}

/* 장바구니*/
.contents_cart{
    position: relative;
    width: 900px;
    border: 1px solid #e0e0e0;
    margin: 0 auto 70px;
    padding: 40px 39px;
    background: #fff;    
}
.cart_title{
    clear: both;
    height: 45px;
    margin-bottom: 0;
    padding-bottom: 32px;
    background: url(/resources/img/cart.png)
        no-repeat 0 -200px;
}

/*일반구매*/
.tabs_wrap{
    display: inline-block;
    width: 900px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.tabs_wrap .normal_cart{
    float: left;
    width: 50%;
    border-top: 2px solid #f25e5e;
    border-right: 2px solid #f25e5e;
    border-bottom: 0;
    border-left: 2px solid #f25e5e;
    padding-top: 17px;
    padding-bottom: 16px;
    background: #fff;
    font-weight: 700;
    color: #f25e5e;
}

.tabs_wrap .macat_cart{
    cursor: default;
    float: left;
    width: 49.5%;
    border: 1pxc solid #e2dfdf;
    border-bottom: 2px solid #f25e5e;
    border-left: 0;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #f5f5f5;
    font-weight: 700;        
}

/* 장바구니 테이블*/
table{
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
}

caption, th{
    text-align: left;
}

caption{
    font-style: normal;
    font-weight: normal;
}

colgroup{
    display: table-column-group;
}
col{
    display: table-column;
}

thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

td{
    display: table-cell;
    vertical-align: inherit;
}

.cartTable{
    width: 898px;
    border-top: 0;    
}

.cartTable .head th{
    background: #fafafa;
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.cartTable th{
    height: 40px;
    font-size: 13px;
}

.cartTable .cart_bundle_title{
    text-align: left;
    line-height: 16px;
}

.cartTable td{
    border-bottom: 1px solid #000;
    line-height: 35px;
    text-align: center;
}
/*상품선택 체크박스*/
.cartTable input{
    font-size: 12px;
}
/*상품선택 체크박스*/
input[type="checkbox" i]{
    background-color: initial;
    cursor: default;
    box-sizing: border-box;
    border: initial;
}
/*상품선택 체크박스*/
.input{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    font: 400 13.3333px Arial;
}


/*장바구니 상품 있을 때*/

/*마켓배송 상품 타이틀부분*/
.cart_bundle_title{
    padding: 26px 22px 24px;
}
/*마켓배송 상품 타이틀부분*/
.cart_bundle_title .macat{
    float: none;
}
/*마켓배송 상품 타이틀부분*/
.cart_bundle_title .macat{
    line-height: 16px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.macat_delivery_info{
    margin-left: 10px;
    color: #555;
    float: none;
    font-size: 12px;
    line-height: 16px;
}
/*장바구니 담긴 상품 정보*/
.cart_deal_item{
    position: relative;
}

.cart_deal_item td:first-child{
    width: 50px;
    overflow: hidden;
}
.cart_deal_item td{
    padding: 10px 0;
    z-index: 1;    
}

.none{
    display: block;
    text-indent: -999em;
    width: 0;
    height: 0;
    overflow: hidden;
    font-size: 0;
}
/*상품 이미지?*/
a:-webkit-any-link {
    cursor: pointer;
}
/*상품 이미지*/
img{
    vertical-align: top;
}
/*상품 설명*/
.cart_deal_item td.product_box{
    padding: 10px 5px 10px 15px;
    text-align: left;
    vertical-align: top;
    z-index: 100;    
}

.cart_deal_item td:nth-child(3){
    width: 568px;
    overflow: hidden;
}
/*상품 설명 : 상품명*/
.product_name_part{
    border-bottom: 1px solid #e2e5e7;
    padding-bottom: 5px;
    letter-spacing: -1px;
}
/*상품 설명 : 상품명*/
.product_box .option-item.modify-float{
    float: none;
}

.product_name_part+.option-item{
    border-top: 0;
}

.product_box .option-item{
    width: 100%;
    padding: 4px 0;
}
/*상품설명 : 도착시간 등*/
.option-item-info{
    float: left;
    max-width: 330px;
    position: relative;
}
.option_name{
    float: left;
    max-width: 330px;
    font-size: 11px;
    line-height: 18px;
    color: #111;
    letter-spacing: -1px;
    word-break: break-all;
}
.delivery_date, .delivery_date.modify_padding{
    padding-top: 6px;
}
.delivery_date{
    font-size: 13px;
    color: #111;
    line-height: 15px;
    letter-spacing: -.5px;
    clear: both;
}
/*도착 상세날짜*/
.delivery_date.rocket .arrive_date, .delivery_date .arrive_date span{
    color: #00891a;    
}

.arrive_date{
    height: 15px;
}

.delivery_date .delivery_condition{
    letter-spacing: normal;
    font-size: 12px;
    color: #888;
    margin-left: 5px;
    position: relative;
}

.delivery_message{
    font-size: 12px;
    color: #00891a;
}

/*상품 가격 div*/
.option_price_part{
    float: right;
    font-size: 12px;
    line-height: 24px;
}
/*상품 가격 span*/
.unit-cost{
    color: #888;
    letter-spacing: 0;
    vertical-align: top;
}
/*상품수량 콤보박스*/
.select_select{
    display: inline-block;
}
/*콤보박스 select 태그*/
.quantity_select{
    width: 52px;
}
select{
    font-family: sans-serif;
    font-size: 100%;
}
select{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
}
/*콤보박스 option 태그*/
option{
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
}

.select-text{
    display: none;
}
.select-text input[type=text] {
    border: 1px solid #ccc;
}
.cartTable input {
    font-size: 12px;
}
input[type=button].none {
    display: none;
}
input[type=button].quantity-chg {
    display: block;
    width: 52px;
    height: 21px;
    padding-top: 1px;
    font-size: 11px;
    border: 1px solid #888;
    color: #111;
    background: #fff;
    text-align: center;
    letter-spacing: -1px;
}
/*상품 구매가격 보여주는 부분*/
.unit-price-area {
    display: inline-block;
    width: 70px;
    margin-left: 4px;
    padding-top: 3px;
    vertical-align: top;
    line-height: 18px;
    text-align: right;
}
/*상품 구매가격 span*/
.unit-price-area .unit-price {
    color: #777881;
    text-align: right;
    letter-spacing: 0;
}
/*상품 제거버튼*/
.delete-option {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 3px;
    background: url(//img1a.coupangcdn.com/image/cart/generalCart/cart_sprite_170201.png) -114px 0 no-repeat;
    vertical-align: top;
    z-index: 120;
}
/*구매 혜택 : 캐시적립*/
.option-benefit {
    float: right;
    padding-top: 10px;
    width: 100%;
    line-height: 12px;
    font-size: 12px;
    color: #888;
    text-align: right;
}
.option-benefit .promo-cash-benefit {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2px 6px;
    margin-left: 5px;
    color: #333;
}
/*구매혜택 아이콘*/
.promo-cash-benefit__icon {
    display: inline-block;
    background-image: url(//img1a.coupangcdn.com/image/cart/generalCart/ico_cash_2x.png);
    background-size: cover;
    width: 14px;
    height: 14px;
    vertical-align: text-bottom;
}
.promo-cash-benefit__text {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 3px;
}
/*상품금액 부분*/
.cart_deal_item td:nth-child(4) {
    width: 88px;
}
/*상품금액 : 가격*/
.cart_deal_item .unit-total-price {
    position: relative;
    line-height: normal;
    border-left: 1px solid #ddd;
    font-size: 12px;
    color: #888;
}
/*배송비 부분*/
.cart_deal_item td {
    padding: 10px 0;
    z-index: 1;
}
.delivery-fee {
    border-left: 1px solid #ddd;
    font-size: 12px;
    color: #888;
}
/*장바구니 비었을 때*/
.cart_no_item{
    width: 896px;
    border-left: 0;
    border-right: 0;
    padding: 60px;
    color: #898989;
    text-align: center;
}
.sr_only{
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}
.txt{
    font-weight: 700;
    font-size: 14px;
    color: #55575f;
}

h2{
    display: block;
}
/*장바구니에서 로그인하기 확인*/
.login_area{
    margin-top: 13px;
    font-size: 12px;
    line-height: 23px;
    color:#777881;
}

.all_select_event span{
    position: absolute;    
} 

/*장바구니 footer 부분*/
.order-table-foot {
    clear: both;
    position: relative;
    padding: 20px 0 35px;
}
.all-select-product {
    float: left;
    margin-left: 15px;
    font-size: 12px;
    cursor: pointer;
}
/*footer부분 input*/
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}
.cart-count-bottom {
    font-size: 12px;
    color: #888;
}
/*선택삭제, 품절제품 삭제*/
.selected-delete, .selected-soldout-delete {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 6px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    color: #111;
}
/*장바구니 총 주문금액 정보란*/
.cart-total-price {
    clear: both;
    border: 4px solid #c8c8c8;
}
.cart-total-price .price-area {
    padding: 20px 15px 18px;
    font-size: 14px;
    line-height: 17px;
    color: #555;
    text-align: center;
}
.cart-total-price em {
    padding: 0 4px 0 5px;
    font: 700 17px/17px tahoma;
    color: #111;
}
.cart-total-price .final-sale-area {
    font-size: 14px;
}
/*더하기 부호 이미지*/
.symbol-plus1 {
    margin: 0 11px 0 10px;
    vertical-align: -4px;
    background: url(//img1a.coupangcdn.com/image/www/newBuy/img_plus_2.gif) no-repeat;
}
/*더하기 부호 노출*/
.symbol-equal, .symbol-plus1 {
    display: inline-block;
    width: 18px;
    height: 18px;
}
/*= 부호 이미지*/
.symbol-equal1 {
    background: url(//img1a.coupangcdn.com/image/www/newBuy/img_equals_2.gif) no-repeat;
}
/*= 부호 이미지 노출*/
.symbol-equal1, .symbol-minus1 {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 11px 0 10px;
    vertical-align: -4px;
}
/*총 결제금액*/
.cart-total-price .final-order-price {
    color: #ea0000;
    font-size: 20px;
}

/*계속 쇼핑하기, 구매하기 버튼*/
/* 위치 조절*/
.order-buttons, .summary-area {
    margin-top: 30px;
    text-align: center;
    position: relative;
}
/*버튼 디자인*/
.goPayment, .goShopping {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    width: 216px;
    line-height: 18px;
    border: 2px solid #f25e5e;
    border-radius: 4px;
    padding: 22px 0 19px;
    text-align: center;
}
/*쇼핑하기 버튼 색상*/
.goShopping {
    background: #fff;
    color: #f25e5e;
    margin-right: 5px;
}
/*구매하기 버튼 색상*/
.goPayment {
    background: #f25e5e;
    color: #fff;
}    