@font-face{
    font-family : 'THEjunggt130';
    src : local('THEjunggt130'),
        url('/resources/font/THEjunggt130.woff2') format('woff2'),
        url('/resources/font/THEjunggt130.woff') format('woff'),
        url('/resources/font/THEjunggt130.otf') format('opentype'),
        url('/resources/font/THEjunggt130.eot') format('embedded-opentype');
}

@font-face{
    font-family : '서울남산 장체EB';
    src : local('서울남산 장체EB'),
        url('/resources/font/서울남산 장체EB.woff2') format('woff2'),
        url('/resources/font/서울남산 장체EB.woff') format('woff'),
        url('/resources/font/서울남산 장체EB.otf') format('truetype'),        
        url('/resources/font/서울남산 장체EB.eot') format('embedded-opentype');
}

* {
    font-family: 'THEjunggt130';	
    margin: 0 auto;
    padding: 0;  
}

ul,li{    
    list-style: none;
    cursor: pointer;
}

main{
    width: 1920px;
    height: 1510px;
    margin: 0 auto;
}

.wrap {
    width: 1712px;
    height: 1502px;
    background: #dfdfdf;
    float: right;    
}
/* 공지사항 관리 타이틀 파트*/
.notices_management {
    width: 1645px;
    height: 60px;
    background: #ffffff;
    margin: 16px 40px 14px 27px;    
}
.notices_management span{
    line-height: 60px; 
    margin: 16px 0px 18px 26px;
    font-size: 22px;
}

/*공지사항 정보 전체 창 사이즈*/
.notice_information_container {
    width: 1645px;
    height: 456px;
    background: #ffffff;
    margin: 0px 40px 26px 27px;    
}
/* 공지사항 정보 파트*/
.notices_info {
    width: 1592px;
    height: 210px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #707070;    
}
/*체크박스 포함 선택단*/
.infomation_control_part {
    float: left;
    height: 210px;
}

/*공지사항 정보 타이틀*/
.notices_info_title {
    width: 311px; 
    height: 190px; 
    float: left;
    margin-top: 19px;
}
/*글번호 제목 작성일 */
.notices_info_middle{
    float: left;
    width: 650px;
    height: 190px;
    margin-top: 19px;
}
/* 체크박스 div*/
.notices_info_middle .nots_chk_div{
	float: left;
	width:150px;
	height: 169px;
}
/*각 체크박스 폰트, 간격 설정*/
.notices_info_middle .nots_chk_div .checks{
	font-size: 15px;
    line-height: 36px;
    height: 56px;
}
/* 글번호 제목 input div*/
.notices_info_middle .nots_input_div{
	float: left;
	width: 210px;
}
/* 글번호 제목 input*/
.notices_info_middle .nots_input_div input{
	width: 188px;
	height: 36px;
	margin-bottom: 16px;    
    margin-right: 17px;
    margin-left: 15px;
}
/*작성일 div*/
.notices_info_middle .nots_reg_dt_div{
	float: left;
	position: relative;
	display: inline-block;
	width: 500px;	
}
/*작성일 div속 input*/
.notices_info_middle .nots_reg_dt_div input{
	width: 188px;
    height: 35px;
    margin-bottom: 16px;    
    margin-right: 17px;
	margin-left: 15px;
}

.selected{
	color: #ffffff;	
    background: #f25e5e;    
}

/*버튼 파트*/
.btn_part {
    width: 1592px;
    height: 206px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}

.and_or_radio_btn {
    width: 391px;
    height: 108.5px;
    margin: 0 auto;
}

.and_or_radio_btn .and{
    position: absolute;
    top:  41.1px;
    left: 26.5px;
    font-size: 26px;
}

.and_or_radio_btn .or{
    position: absolute;
    top:  41.1px;
    left: 267.5px;
    font-size: 26px;
}

.and_container {
    width: 150px;
    display: inline-block;
}

.or_container{
    width: 150px;
    display: inline-block;
}

/*조회, 초기화 버튼*/
.view_refresh_btn{
    width: 391px;
    margin: 0 auto;
}

.view_refresh_btn input{
    color: #fff;
}

.view_btn{
    width: 150px;
    height: 52px;
    font-size: 20px;
    background: #f25e5e;    
    border: none;    
}

.refresh_btn{
    width: 150px;
    height: 52px;
    font-size: 20px;    
    background: #F2A766;    
    border: none; 
    margin-left: 84px;
}
/**/
.edit_delete_btn{
    width: 391px;
    margin: 0 auto;
}

.edit_delete_btn input{
    color: #fff;
}

.edit_btn{
    width: 150px;
    height: 52px;
    font-size: 20px;
    background: #f25e5e;    
    border: none;    
}

.delete_btn{
    width: 150px;
    height: 52px;
    font-size: 20px;    
    background: #F2A766;    
    border: none; 
    margin-left: 84px;
}